<html>
<head>
    <link rel="stylesheet" href="/home/static/{{sourceMap['common.css']}}"/>
    <script src="/home/static/js/security.js"></script>
    <script src="/home/static/{{sourceMap['iconfont']}}" async></script>
    <script src="/home/static/js/event-emitter.min.js"></script>
    <script src="/home/static/{{sourceMap['tip']}}" async></script>
    <script>
        window.webWorkerMap = {{webWorkerMap | safe}};
        window.imgMap = {{imgMap | safe}};
        window.emitter = new EventEmitter();
        window.addEventListener('resize', () => {
            emitter.emit('resize');
        });
    </script>
    <script inline-html></script>
</head>
<body class="inx b-2-cl c-2-bg Chainer">
{% include "modules/header/china.njk" %}
<div class="page-content page-content-chain" style="position: relative; min-height: 800px">
    {% include "modules/china.njk" %}
</div>
{% include "modules/footer/china.njk" %}
</body>
</html>
