{% macro boxStyle(height ,width, bgColor, slideList, extendPath, activeClass) %}
<div class="swipers swipers-ipfs" id="swipers" data-height="{{height}}" data-width="{{width}}">
    <style>
        .carousel-wrap {
            width: 100%;
            overflow: hidden;
            height:655px;
        }
        .swipers-ipfs .slide-ul {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .swipers-ipfs .slide-ul li {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 1s ease;
        }
        .swipers-ipfs .slide-ul .show {
            transition: all 1s ease;
            opacity: 1;
            z-index: 2;
        }
        .swipers-ipfs .slide-ul .left {
            transition: all 1s ease;
            opacity: 0;
            z-index: 1;
        }
        .swipers-ipfs .slide-ul .right {
            transition: all 1s ease;
            opacity: 0;
            z-index: 1;
        }
        .swipers-ipfs .slide-ul li a.page {
            display: block;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: auto;
        }
        .swipers-ipfs .slide-ul li .bar {
            margin: 0 auto 0;
        }
        .swipers-ipfs .slide-ul li h4 {
            font-family: PingFangSC-Semibold;
            font-size: 42px;
            color: #221700;
            display: none;
        }
        .swipers-ipfs .slide-ul li .button {
            display: inline-block;
            width: 160px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            border: 1px solid #221700;
            border-radius: 2px;
            box-sizing: border-box;
            font-size: 16px;
            color: #221700;
            margin-top: 97px;
        } 
        .carousel-items {
            position: absolute;
            z-index: 10;
            bottom: 156px;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            margin: 0 auto;
            text-align: center;
            font-size: 0;
            z-index: 5;
        }
        .carousel-items span {
            display: inline-block;
            cursor: pointer;
            width: 12px !important;
            height: 12px;
            opacity: 0.7;
            background: #FFFFFF !important;;
            border-radius: 7px;
            margin: 0 5px;
        }
        .carousel-items span.active {
            width: 32px !important;
            opacity: 1;
            background: #FFFFFF !important;;
        }    
        .list-enter-to {
            transition: all 1s ease;
            opacity: 1;
            z-index: 9;
        }
        .list-leave-active {
            transition: all 1s ease;
            opacity: 0;
            z-index: 1;
        }
        .list-enter {
            opacity: 0;
            z-index: 1;
        }
        .list-leave {
            opacity: 1;
            z-index: 9;
        }
        @media (max-width: 960px) {
            .carousel-wrap {
                height: 500px;
                
            }
            .swipers-ipfs .slide-ul li a.page {
                background-size: auto 100%;
            }
            .carousel-items {
                bottom: 100px;
            }
        }
        @media (max-width: 450px) {
            .carousel-wrap {
                height: 240px;
            }
            .carousel-items {
                bottom: 50px;
            }
            .carousel-items span {
                width: 5px;
                height: 5px;
            }
        }
    </style>
    <div class='carousel-wrap' >
        <ul class='slide-ul'>
            {% for item in slideList %}
                <li data-index="{{loop.index0}}">
                    <a class="page" href="{{ item.httpUrl }}" data-img="{{item.imageUrl}}">
                        {# <div class="bar">
                            <h4 class="title"> {{ item.title }} </h4>
                        </div> #}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% if slideList.length > 1 %}
            <div class="carousel-items">
                {% for item in slideList %}
                    <span data-index="{{loop.index0}}"></span>
                {% endfor %}
            </div>
        {% endif %}
        </div>
        <script>
            (() => {
                const {getScript} = window.BlockChainUtils;
                const extendPath ="{{extendPath}}";
                if (extendPath && !window.SwiperExtend){
                    getScript(`${window.staticDomain}/home/static/${extendPath}`).then(() => {
                        class Swiper extends window.SwiperExtend{
                            constructor() {
                                super();
                                this.activeClass = "{{activeClass}}";
                                this.init();
                            }
                        }
                        new Swiper();
                    });
                }
            })();
        </script>
    </div>
</div>
{% endmacro %}
