{% macro scroll(autoplay, noticeList, len, locale) %}
<section class="v5-noticeInfo">
  <style>
    .v5-noticeInfo {
      width: 1200px;
      margin: auto;
      font-family: DINPro-Medium;
    }
    .v5-noticeInfo .noticeInfo-wrap {
      display: flex;
    }
    .v5-noticeInfo .noticeInfo-wrap .noticeInfo-icon {
      height: 20px;
      line-height: 20px;
      padding: 0 5px;
      border-radius: 2px !important;
      font-size: 12px;
      margin-right: 8px;
      position: relative;
      overflow:hidden;
    }
    .v5-noticeInfo .noticeInfo-wrap .noticeInfo-icon .icon-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      opacity: 0.15;
      border-radius: 2px;
    }
    .v5-noticeInfo .noticeInfo-wrap .noticeInfo-list_view {
      flex: 1;
      height: 20px;
      overflow: hidden;
    }
    .v5-noticeInfo .noticeInfo-wrap .noticeInfo-list {
      transition: all 0.3s;
    }
    .v5-noticeInfo .noticeInfo-wrap .noticeInfo-item {
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      color: #ffffff;
    }
    .v5-noticeInfo .noticeInfo-wrap .noticeInfo-item .hoverShow {
      display: none;
    }
    .v5-noticeInfo .noticeInfo-wrap .noticeInfo-item:hover .hoverShow {
      display: inline;
    }
    .v5-noticeInfo .noticeInfo-wrap .noticeInfo-item:hover .hoverHide {
      display: none;
    }
    .v5-noticeInfo .noticeInfo-wrap .noticeInfo-more a {
      font-size: 14px;
      line-height: 20px;
    }
  </style>
  <div class="noticeInfo-wrap">
    <span class="noticeInfo-icon v5-1-cl">
      <i class="icon-bg v5-1-bg"></i>
      News
    </span>
    <div class="noticeInfo-list_view">
      <ul class="noticeInfo-list">
        {% for item in noticeList %}
        <li class="noticeInfo-item">
          <a class="hoverHide v5-5-cl" href="/noticeInfo/{{ item.id }}">{{item.noticeText}}</a>
          <a class="hoverShow v5-1-cl" href="/noticeInfo/{{ item.id }}">{{item.noticeText}}</a>
        </li>
        {% endfor %}
        <li class="noticeInfo-item">
          <a class="hoverHide v5-5-cl" href="/noticeInfo/{{ noticeList[0].id }}">{{noticeList[0].noticeText}}</a>
          <a class="hoverShow v5-1-cl" href="/noticeInfo/{{ noticeList[0].id }}">{{noticeList[0].noticeText}}</a>
        </li>
      </ul>
    </div>
    <div class="noticeInfo-more">
      <a class="v5-1-cl" href="/noticeInfo">{{locale.home.more}}</a>
    </div>
  </div>
  <script>
    (() => {
      class noticeExtend {
        constructor() {
          this.autoplay = "{{autoplay}}";
          this.len = Number("{{len}}");
          this.init();
        }

        init() {
          this.$noticeWrap = document.querySelector('.v5-noticeInfo');
          this.$noticeView = this.$noticeWrap.querySelector('.noticeInfo-list_view');
          this.$noticeList = this.$noticeWrap.querySelector('.noticeInfo-list');
          this.scrollTimer = null;
          this.activeIndex = 0;
          if (this.autoplay === '1' && this.len > 1) {
            this.setAutoPlay();
            this.bindEvent();
          }
        }

        bindEvent() {
          this.$noticeView.addEventListener('mouseenter', () => {
            window.clearInterval(this.scrollTimer);
            this.scrollTimer = null;
          })
          this.$noticeView.addEventListener('mouseleave', () => {
            this.setAutoPlay();
          })
        }

        setAutoPlay() {
          this.scrollTimer = setInterval(() => {
            this.$noticeList.style.transition = 'all 0.3s';
            this.activeIndex += 1;
            this.$noticeList.style.transform = `translate3d(0, -${this.activeIndex * 20}px, 0)`;
            if (this.activeIndex === this.len) {
              this.resetPos();
            }
          }, 5300)
        }

        resetPos() {
          setTimeout(() => {
            this.$noticeList.style.transition = 'none';
            this.$noticeList.style.transform = `translate3d(0, 0, 0)`;
            this.activeIndex = 0;
          }, 300)
        }
      }
      new noticeExtend();
    })()
  </script>
</section>
{% endmacro %}