<div id="footer-box" class="footer-box y-3-bg y-4-bd no-margin">
  <style>
    .footer-box {
      min-height: 264px;
      padding-bottom: 40px;
      margin-top: 120px;
      background: #030b16 !important;
    }
    .no-margin {
      margin-top: 0;
    }
    .footer-bar {
      font-size: 12px;
      padding-top: 40px;
      width: 1180px;
      margin: 0 auto;
      position: relative;
    }
    .footer-default {
      padding-top: 80px;
    }
    .footer-logo {
      width: 260px;
      float: left;
      padding-left: 40px;
    }
    .footer-logo img {
      max-height: 70px;
    }
    .logo {
      max-height: 120px;
      max-width: 120px;
    }
    .footer-menu {
      margin: 0 auto;
      width: 1200px;
      display: flex;
    }

    .menu-ul-default {
      width: 100%;
    }
    .menu-ul-default li {
      float: left;
      width: 260px;
      padding-left: 40px;
      line-height: 26px;
    }
    .menu-ul-default li .hoverShow {
      display: none;
    }
    .menu-ul-default li:hover .hoverShow {
      display: inline-block;
    }
    .menu-ul-default li:hover .hoverHide {
      display: none;
    }
    .menu-ul-default .tit {
      margin-bottom: 15px;
    }
    .footer-box .copy {
      text-align: center;

      padding-top: 20px;
      font-size: 12px;
      margin-top: 80px;
    }
    /*国际版*/
    .int-footer-bar {
      padding: 96px 110px 0 110px;
    }
    .int-footer-left {
      float: left;
    }
    .int-footer-left p {
      line-height: 26px;
    }
    .int-footer-logo {
      width: 260px;
      margin-bottom: 40px;
    }
    .int-footer-template {
      float: right;
    }
    .menu-ul-int {
      width: 600px;
    }
    .menu-ul-int li {
      float: left;
      width: 150px;
      padding-left: 40px;
      line-height: 26px;
    }
    .menu-ul-int li .hoverShow {
      display: none;
    }
    .menu-ul-int li:hover .hoverShow {
      display: inline-block;
    }
    .menu-ul-int li:hover .hoverHide {
      display: none;
    }
    .menu-ul-int .tit {
      margin-bottom: 15px;
    }

    .footer-box .int-copy {
      text-align: left;
      border-top-width: 1px;
      border-top-style: solid;
      font-size: 12px;
      margin-top: 80px;
      padding: 20px 110px 0 110px;
    }

    .footer-template {
      display: flex;
    }
    .footer-template dl {
      width: 230px;
      font-size: 12px;
    }
    .footer-template dt,
    .footer-right dt {
      height: 15px;
      margin-bottom: 20px;
      color: #16181D;
    }
    .footer-template dd {
      line-height: 30px;
      color: #888FA1;
    }
    .footer-right img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
    .footer-lan {
      margin-top: 33px;
      cursor: pointer;
      position:relative;
    }
    
    .footer-lan p {
      width: 120px;
      height: 30px;
      border: 1px solid #333b4f;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      display: flex;
      justify-content: space-between;
      box-sizing:border-box;
    }
    .footer-lan p span {
      width: 0;
      height: 6px;
      display: inline-block;
      border-top: 4px solid #333b4f;
      border-left: 3px solid #030b16;
      border-right: 3px solid #030b16;
      margin-right: 10px;
      margin-top:6px
    }
    
    .footer-template a {
      color: #525d79;
    }
    .footer-lan ul{
      position:absolute;
      top:30px;
      left:0;
      border: 1px solid #333b4f;
      border-radius: 4px;
      width:120px;
      display:none
    }
    .footer-lan ul li{
      height:30px;
      line-height:30px;
      padding-left:10px;
      box-sizing:border-box;
    }
    .footer-lan:hover ul{
      display:block;
    }
    .footer-bar dd {
      line-height: 30px;
      display:flex;
    }
    .footer-bar dd p{
      margin-right:10px;
    }
    .footer-bar dd p img{
      width:24px;
      height:24px;
      
    }
    .footer-bar dd p .icon{
      display:block;
    }
    .footer-bar dd p .icon-hover{
      display:none;
    }
    .footer-bar dd p:hover .icon{
      display:none;
    }
    .footer-bar dd p:hover .icon-hover{
      display:block;
    }
    
  </style>
  <section>
    {% if switch.config_footer_open !== '1' and footerTemplate %}
    {% if footerTemplate.indexOf('foot-min-top') !== -1 %}
    <div class="footer-con">
      {{ footerTemplate | safe }}
    </div>

    {% else %}
    <div class="footer-bar">
      <div class="footer-menu clearfix">
        <div class="footer-logo">
          <img src="{{ helper.footer.logo(msg) }}" alt="" />
        </div>
        <!-- 自定义 -->
        <div class="footer-template">
          {{ footerTemplate | safe }}
        </div>
      </div>
    </div>
    {% endif %}
    {% else %} 
    <div class="footer-bar footer-default">
      <div class="footer-menu clearfix">
        <div class="footer-logo">
          <img src="{{ helper.footer.logo(msg) }}" alt="" />
          <div class="footer-lan">
            <p>English<span></span></p>
            <ul>
              <li>English</li>
              <li>Chinese</li>
            </ul>
          </div>
        </div>
        <div class="footer-template">
          {#
          <ul class="menu-ul-default">
            {% for item in footerList %}
            <li class="item">
              <a class="z-2-cl hoverHide" href="/cms/{{ item.fileName }}">{{ item.title }}</a>
              <a class="z-1-cl hoverShow" href="/cms/{{ item.fileName }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
          #}
          <dl>
            <dt>Terms</dt>
            <dd><a href="javascript:;">User Agreement</a></dd>
            <dd><a href="javascript:;">Privacy Policy</a></dd>
            <dd><a href="javascript:;">Legal Notices</a></dd>
          </dl>
          <dl>
            <dt>About</dt>
            <dd><a href="javascript:;">About ChainUP</a></dd>
            <dd><a href="javascript:;">Application for listing</a></dd>
            <dd><a href="javascript:;">announcement</a></dd>
          </dl>
          <dl>
            <dt>Tool</dt>
            <dd><a href="javascript:;">Client Downloads</a></dd>
            <dd><a href="javascript:;">Help center</a></dd>
            <dd><a href="javascript:;">API documentation</a></dd>
          </dl>
        </div>
        <div class="footer-right">
          <dl>
            <dt>Social media</dt>
            <dd>
              {# <svg class="icon icon-14" aria-hidden="true">
                <use xlink:href="#icon-k_7_1"></use>
              </svg>

              <svg class="icon icon-14" aria-hidden="true">
                <use xlink:href="#icon-k_4_1"></use>
              </svg>
              <svg class="icon icon-14" aria-hidden="true">
                <use xlink:href="#icon-k_5_1"></use>
              </svg> #}
              <p>
                  <img src="http://dev-saas-oss.oss-cn-hongkong.aliyuncs.com/upload/20211026165319671.png" alt="" class='icon'/>
                  <img src="http://dev-saas-oss.oss-cn-hongkong.aliyuncs.com/upload/20211026165048073.png" alt="" class='icon-hover'/>
                </p>
                <p>
                  <img src="http://dev-saas-oss.oss-cn-hongkong.aliyuncs.com/upload/20211026165353977.png" alt="" class='icon'/>
                  <img src="http://dev-saas-oss.oss-cn-hongkong.aliyuncs.com/upload/20211026165338029.png" alt="" class='icon-hover'/>
                </p>
                <p>
                  <img src="http://dev-saas-oss.oss-cn-hongkong.aliyuncs.com/upload/20211026165434153.png" alt="" class='icon'/>
                  <img src="http://dev-saas-oss.oss-cn-hongkong.aliyuncs.com/upload/20211026165414123.png" alt="" class='icon-hover'/>
                </p>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <!-- 底部区域 -->
    <div class="copy z-2-cl" style="border-color: #293448 !important">
      © 2017-2021 {{ companyName }}
    </div>

    {% endif %}
  </section>
  <script>
    (()=>{
      class footerExtend{
        constructor(){
          this.init()
        }
        init(){
          
        }
      }
      new footerExtend()
    })()
  </script>
</div>
