<header class="v5-header common-header top-common-header v5-10-bg static v5-12-bd" id="common-header">
  <style>
    .common-header.top-common-header.v5-header {
      position: fixed;
      left: 0;
      top: 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      font-family: DINPro-Medium;
    }
    .common-header.top-common-header.v5-header .bg-white {
      background: #ffffff;
    }
    .common-header.top-common-header.v5-header .list-item-cl {
      color: #16181D;
    }
    .common-header.top-common-header.v5-header .list-item-cl-sub {
      color: #888FA1;
    }
    .common-header.top-common-header.v5-header .hover-bg {
      background: #ECEFF6;
    }
    .common-header.top-common-header.v5-header.static {
      background: rgba(0, 0, 0, 0.15)!important;
      border: none;
    }
    .v5-header.static .icon-scroll {
      display: none!important;
    }
    .v5-header.static .icon-static {
      display: inline-block;
    }
    .v5-header .icon-static {
      display: none;
    }
    .v5-header.static li.header-navEven, .v5-header.static div, .v5-header.static .link-btn {
      color: #ffffff!important;
    }
    .v5-header.static li.header-navEven:hover, .v5-header.static .link-btn:hover {
      color: #2762FF!important;
    }
    .inx .solidBc {
      display: none;
    }

    .inx .common-button:hover .bghover {
      display: block;
    }

    .inx .common-button:active .bgactive {
      display: block;
    }

    .solidBc {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: none;
    }

    .common-button-solid {
      font-size: 14px;
    }

    .common-button-solid-disabled {
      font-size: 14px;
      cursor: not-allowed !important;
    }

    .common-button-solid-loading {
      font-size: 14px;
      cursor: wait !important;
    }

    .common-button-hollow {
      font-size: 12px;
    }

    .common-button-hollow-big {
      font-size: 14px;
    }

    .common-button-text,
    .common-button-text-kind {
      font-size: 12px;
    }

    .common-button {
      transition: all 0.3s;
      box-sizing: border-box;
      border-radius: 2px;
      position: relative;
      overflow: hidden;
      text-align: center;
      cursor: pointer;
      user-select: none;
      display: inline-block;
    }

    .common-button .common-button-slot {
      position: relative;
      display: inline;
      vertical-align: middle;
    }

    .common-button .common-button-slot .common-button-loading {
      position: absolute;
      vertical-align: middle;
      left: -14px;
      top: 50%;
      transform: translateY(-50%);
    }

    .common-button .button-background {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }

    .button-canv {
      position: absolute;
      left: 20px;
      top: 20px;
      transform: scale(0);
    }

    .mmd-waves-effect {
      border-radius: 100%;
      background-color: #d8d8d8;
    }

    .top-common-header {
      user-select: none;
      height: 60px;
      width: 100%;
      padding-left: 20px;
      box-sizing: border-box;
      position: relative;
      z-index: 11;
      font-family: DINPro-Medium;
    }

    .top-common-header a {
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      padding: 0 12px;
      border-radius: 2px;
    }

    .top-common-header .setBox {
      padding: 10px 0 0 0;
    }

    .top-common-header .setBox .setColor-key {
      float: left;
      width: 100px;
      font-size: 14px;
    }

    .top-common-header .setBox .setColor-value {
      float: left;
      width: 300px;
    }

    .top-common-header .setBox .setColor-value li {
      display: inline-block;
      margin-left: 50px;
      margin-top: 20px;
    }

    .top-common-header .setBox .setColor-value li:nth-child(1),
    .top-common-header .setBox .setColor-value li:nth-child(2) {
      margin-top: 0px;
    }

    .top-common-header .setBox .setColor-value li span {
      margin-left: 8px;
      cursor: pointer;
      font-size: 14px;
    }

    .top-common-header .common-header-linkList {
      float: left;
      height: 60px;
    }

    .top-common-header .common-header-linkList .header-navEven {
      line-height: 60px;
      float: left;
      margin-right: 25px;
      cursor: pointer;
      transition: all 0.3s;
      position: relative;
    }

    .top-common-header .common-header-linkList .header-navEven .new-label {
      position: absolute;
      right: -46px;
      top: 9px;
      box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.3);
      border-radius: 0px 6px 0px 6px;
      font-size: 10px;
      text-align: center;
      width: 44px;
      height: 17px;
      line-height: 17px;
    }

    .top-common-header .common-header-linkList .header-navEven .header-navEven-title {
      display: inline-block;
    }

    .top-common-header .common-header-linkList .header-navEven:hover .header-navEven-list {
      display: block;
    }

    .top-common-header .common-header-linkList .header-navEven .icon-triangle svg {
      width: 0.5em;
      height: 0.5em;
      vertical-align: 0.1em;
      transition: all 0.3s;
    }
    
    .top-common-header .common-header-linkList .header-navEven .icon-triangle svg.icon-hover {
      display: none;
    }
    .top-common-header .common-header-linkList .header-navEven:hover .icon-triangle svg.icon-hover {
      display: inline-block;
    }
    .top-common-header .common-header-linkList .header-navEven:hover .icon-triangle svg.icon-static,
    .top-common-header .common-header-linkList .header-navEven:hover .icon-triangle svg.icon-scroll {
      display: none;
    }

    .top-common-header .common-header-linkList .header-navEven .header-navEven-list {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 12px 8;
      -webkit-box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.28);
      box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.28);
      border-radius: 4px;
    }

    .top-common-header .common-header-linkList .header-navEven .header-navEven-list li {
      cursor: pointer;
      display: flex;
      align-items: center;
      text-align: left;
      min-width: 276px;
      padding: 12px;
      font-size: 14px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .top-common-header .common-header-linkList .header-navEven .header-navEven-list li img {
      width: 28px;
      height: 28px;
      margin-right: 12px;
    }
    .top-common-header .common-header-linkList .header-navEven .header-navEven-list li dt {
      line-height: 20px;
    }
    .top-common-header .common-header-linkList .header-navEven .header-navEven-list li dd {
      font-size: 12px;
      line-height: 16px;
    }
    .top-common-header .common-header-linkList .header-navEven .new-label {
      position: absolute;
      right: -46px;
      top: 9px;
      -webkit-box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.3);
      box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.3);
      border-radius: 0 6px 0 6px;
      font-size: 10px;
      text-align: center;
      width: 44px;
      height: 17px;
      line-height: 17px;
    }

    .top-common-header .common-header-linkList .linkList-logo {
      cursor: pointer;
      height: 60px;
      vertical-align: middle;
      line-height: 58px;
    }

    .top-common-header .common-header-linkList .linkList-logo img {
      max-height: 50px;
      max-width: 160px;
      vertical-align: middle;
    }

    .top-common-header .common-header-linkList .linkList-logo-li {
      float: left;
    }

    .top-common-header .common-header-linkList .header-nav-ifl {
      cursor: pointer;
      position: relative;
      margin-right: 0 !important;
      padding-right: 16px !important;
      line-height: 62px;
      float: left;
      margin-left: 10px;
      width: 18px;
      height: 60px;
    }

    .top-common-header .common-header-linkList .header-nav-ifl .icon {
      /* position: absolute;
      top: 50%;
      transform: translateY(-50%); */
    }

    .top-common-header .common-header-linkList .header-nav-ifl .hover {
      display: none;
    }

    .top-common-header .common-header-linkList .header-nav-ifl:hover .icon {
      display: none;
    }

    .top-common-header .common-header-linkList .header-nav-ifl:hover .hover {
      display: inline-block;
    }

    .top-common-header .common-header-linkList .header-nav-ifl:hover .header-sub-nav {
      display: block;
    }

    .top-common-header .common-header-linkList .button-li {
      padding: 15px 0;
    }

    .top-common-header .common-header-linkList .button-li .header-button-links {
      font-size: 14px;
      vertical-align: middle;
    }

    .top-common-header .common-header-optionList {
      float: right;
    }

    .top-common-header .common-header-optionList .header-isLogin-navEven {
      height: 60px;
      float: left;
      margin-left: 32px;
      cursor: pointer;
      position: relative;
    }

    .top-common-header
      .common-header-optionList
      .header-isLogin-navEven
      .header-isLogin-navEven-title {
      transition: all 0.3s;
      line-height: 60px;
    }

    .top-common-header .common-header-optionList .header-isLogin-navEven:hover .lang-list {
      display: block;
    }

    .top-common-header .common-header-optionList .header-isLogin-navEven .lang-list {
      display: none;
      position: absolute;
      top: 60px;
      left: -20px;
      padding: 12px 8px;
      box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.28);
      border-radius: 4px;
    }

    .top-common-header .common-header-optionList .header-isLogin-navEven .lang-list li {
      cursor: pointer;
      text-align: left;
      min-width: 144px;
      padding: 0 12px;
      font-size: 14px;
      line-height: 36px;
      height: 36px;
      box-sizing: border-box;
      border-radius: 4px;
    }

    .top-common-header .common-header-optionList .header-isLogin {
      float: left;
    }

    .top-common-header .common-header-optionList .header-isLogin .header-isLogin-button {
      font-size: 14px;
      margin-right: 10px;
    }

    .top-common-header .common-header-optionList .header-guide {
      float: left;
      padding: 15px 20px;
      vertical-align: middle;
    }

    .top-common-header .common-header-optionList .header-guide .header-login-button {
      font-size: 14px !important;
      margin-right: 20px;
    }

    .top-common-header .common-header-optionList .header-guide .header-reg-button {
      font-size: 14px !important;
      margin-right: 16px;
      padding: 0 22px;
      height: 30px;
      border-radius: 4px;
      position: relative;
    }

    .top-common-header .common-button .btn-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background:rgba(0, 0, 0, 0.1);
      cursor: pointer;
      display: none;
    }

    .top-common-header .common-button:hover .btn-hover {
      display: block;
    }

    .top-common-header .common-header-optionList .header-user {
      float: left;
      height: 60px;
      width: 60px;
      line-height: 60px;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
    }

    .top-common-header .common-header-optionList .header-user:hover .header-user-market,
    .top-common-header .common-header-optionList .header-user:hover .message-list,
    .top-common-header .common-header-optionList .header-user:hover .header-user-appdown,
    .top-common-header .common-header-optionList .header-user:hover .icon-active {
      display: block;
    }

    .top-common-header .common-header-optionList .header-user:hover .icon-info {
      display: none;
    }

    .top-common-header .common-header-optionList .header-user .icon-active {
      display: none;
    }

    .top-common-header .common-header-optionList .header-user .header-user-market {
      padding-bottom: 10px;
    }

    .top-common-header .common-header-optionList .header-user .header-user-market,
    .top-common-header .common-header-optionList .header-user .header-user-appdown,
    .top-common-header .common-header-optionList .header-user .header-user-message {
      box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.28);
      top: 60px;
      display: none;
      position: absolute;
      width: 240px;
      height: 120px;
      left: -90px;
      z-index: 9999;
      border-radius: 4px;
    }

    .top-common-header .common-header-optionList .header-user .header-user-message {
      height: auto;
      width: 320px;
      right: -99px;
      left: auto;
      min-height: 100px;
    }

    .top-common-header
      .common-header-optionList
      .header-user
      .header-user-message
      .header-user-text {
      height: auto;
    }

    .top-common-header
      .common-header-optionList
      .header-user
      .header-user-message
      .header-user-text
      li {
      height: 30px;
      line-height: 30px;
      overflow: hidden;
    }

    .top-common-header
      .common-header-optionList
      .header-user
      .header-user-message
      .header-user-text
      .mesageNav {
      cursor: pointer;
    }

    .top-common-header .common-header-optionList .header-user .header-user-icon {
      cursor: pointer;
    }

    .top-common-header .common-header-optionList .header-user .header-user-text {
      height: 80px;
      padding: 16px 22px;
      box-sizing: border-box;
      line-height: 24px;
      text-align: left;
      font-size: 12px;
    }

    .top-common-header .common-header-optionList .header-user .header-user-text .userText {
      font-size: 14px;
      cursor: pointer;
    }

    .top-common-header .common-header-optionList .header-user .header-user-out {
      height: 40px;
      padding: 0 22px;
      line-height: 40px;
      text-align: left;
      font-size: 12px;
      cursor: pointer;
    }

    .top-common-header .common-header-optionList .header-user .header-user-appdown {
      box-sizing: border-box;
      left: auto;
      right: 0;
      width: 160px;
      height: auto;
      border-radius: 4px;
    }

    .top-common-header .common-header-optionList .header-user .header-user-appdown .code-box {
      padding: 16px 16px 12px;
    }

    .top-common-header
      .common-header-optionList
      .header-user
      .header-user-appdown
      .code-box
      .download-options-code {
      width: 128px;
      height: 128px;
      overflow: hidden;
    }

    .top-common-header
      .common-header-optionList
      .header-user
      .header-user-appdown
      .code-box
      .download-options-code
      img {
      width: 128px;
      height: 128px;
      position: relative;
    }

    .top-common-header
      .common-header-optionList
      .header-user
      .header-user-appdown
      .code-box
      .download-options-codeText {
      font-size: 12px;
      line-height: 12px;
      color: #828ea1;
      letter-spacing: 0;
      text-align: center;
      margin-top: 8px;
    }

    .top-common-header
      .common-header-optionList
      .header-user
      .header-user-appdown
      .download-options-buttons {
        margin-top: 12px;
        padding: 0 12px 12px;
    }

    .top-common-header
      .common-header-optionList
      .header-user
      .header-user-appdown
      .download-options-buttons
      button {
      display: block;
      width: 136px;
      height: 30px;
      line-height: 30px;
      border-radius: 4px;
      color: #ffffff;
      font-size: 12px;
    }

    .top-common-header .common-header-optionList .header-lang {
      float: left;
      height: 60px;
      min-width: 120px;
      line-height: 60px;
      text-align: center;
      font-size: 14px;
      position: relative;
      user-select: none;
    }

    .top-common-header .common-header-optionList .header-lang .show-lang {
      cursor: pointer;
      padding: 0 20px;
      font-size: 14px;
      box-sizing: border-box;
    }

    .top-common-header .common-header-optionList .header-lang:hover .lang-list {
      display: block;
    }

    .top-common-header .common-header-optionList .header-lang .lang-list {
      display: none;
      position: absolute;
      top: 60px;
      right: 0px;
      padding: 12px 8;
      box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.28);
      border-radius: 4px;
      max-height: 300px;
      overflow: auto;
    }

    .top-common-header .common-header-optionList .header-lang .lang-list li {
      cursor: pointer;
      text-align: left;
      min-width: 144px;
      padding: 0 20px;
      font-size: 12px;
      line-height: 36px;
      height: 36px;
      box-sizing: border-box;
      border-radius: 4px;
    }

    .top-common-header .messageCount {
      position: absolute;
      width: 6px;
      height: 6px;
      background: #f00;
      border-radius: 100px;
      top: 20px;
      left: 32px;
    }

    .top-common-header .header-sub-nav {
      display: none;
      position: absolute;
      width: 175px;
      left: 0;
      top: 60px;
      z-index: 99;
      padding: 10px 0;
    }

    .top-common-header .header-sub-nav #agentStatusShow {
      display: none;
    }

    .top-common-header .header-sub-nav .header-user-text {
      padding: 0;
      box-sizing: border-box;
      text-align: left;
      font-size: 12px;
    }

    .top-common-header .header-sub-nav .header-user-text li {
      float: none;
      margin: 0;
      padding: 0;
    }

    .top-common-header .header-sub-nav .header-user-text li a {
      line-height: 17px;
      padding: 12px 20px;
      font-size: 14px;
      display: block;
    }

    .setBox {
      padding: 10px 0 0 0;
    }

    .setBox .setColor-key {
      float: left;
      width: 100px;
      font-size: 14px;
    }

    .setBox .setColor-value {
      float: left;
      width: 300px;
    }

    .setBox .setColor-value li {
      display: inline-block;
      margin-left: 50px;
      margin-top: 20px;
    }

    .setBox .setColor-value li:nth-child(1),
    .setBox .setColor-value li:nth-child(2) {
      margin-top: 0px;
    }

    .setBox .setColor-value li span {
      margin-left: 8px;
      cursor: pointer;
      font-size: 14px;
    }

    .left-common-header {
      height: 100%;
      width: 80px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    }

    .left-common-header .int-header-linkList {
      float: none;
    }

    .left-common-header .int-header-linkList .button-logo {
      height: 70px;
      line-height: 70px;
      display: block;
      text-align: center;
    }

    .left-common-header .int-header-linkList .button-logo img {
      width: 28px;
      vertical-align: middle;
    }

    .left-common-header .int-header-linkList .button-li {
      height: 36px;
      padding: 12px 0;
      text-align: center;
      cursor: pointer;
      position: relative;
    }

    .left-common-header .int-header-linkList .button-li .header-button-links {
      margin-top: 4px;
      display: block;
      font-size: 12px;
    }

    .left-common-header .int-header-linkList .button-li .hover-show {
      display: none;
    }

    .left-common-header .int-header-linkList .button-li:hover .hover-show {
      display: inline-block;
    }

    .left-common-header .int-header-linkList .button-li:hover .hover-hide {
      display: none;
    }

    .left-common-header .int-header-linkList .button-li .messageCount {
      position: absolute;
      width: 4px;
      height: 4px;
      background: #f00;
      border-radius: 100px;
      top: 12px;
      left: 43px;
    }

    .left-common-header .int-header-linkList .showLan {
      line-height: 36px;
    }

    .left-common-header .int-header-linkList .register {
      padding: 0;
      margin-top: 10px;
    }

    .left-common-header .int-header-linkList .register span {
      display: block;
      width: 60px;
      height: 30px;
      line-height: 30px;
      border-width: 1px;
      border-style: solid;
      border-radius: 2px;
      margin: 0 auto;
    }

    .left-common-header .header-user {
      position: relative;
    }

    .left-common-header .header-user:hover .header-user-market {
      display: block;
    }

    .left-common-header .header-user-market {
      box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.28);
      top: 20px;
      display: none;
      position: absolute;
      width: 240px;
      height: 120px;
      left: 20px;
      z-index: 9999;
    }

    .left-common-header .header-user-market .header-user-text {
      height: 80px;
      padding: 16px 22px;
      box-sizing: border-box;
      line-height: 24px;
      text-align: left;
      font-size: 12px;
    }

    .left-common-header .header-user-market .header-user-text .userText {
      font-size: 14px;
      cursor: pointer;
    }

    .left-common-header .header-user-market .header-user-out {
      height: 40px;
      padding: 0 22px;
      line-height: 40px;
      text-align: left;
      font-size: 12px;
      cursor: pointer;
    }

    .left-common-header .nav-bottom {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
    }

    .left-common-header .header-sub-nav {
      position: absolute;
      left: 20px;
      max-height: 340px;
      box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.28);
    }

    .left-common-header .header-sub-nav .header-user-text {
      padding: 10px 0;
      min-width: 180px;
    }

    .left-common-header .header-sub-nav .header-user-text li {
      cursor: pointer;
    }

    .left-common-header .header-sub-nav .header-user-text li span {
      line-height: 40px;
      display: block;
      padding-left: 20px;
      cursor: pointer;
      font-size: 14px;
    }

    .left-common-header .showLan {
      position: relative;
    }

    .left-common-header .showLan .header-user-showLan {
      box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.28);
      bottom: 20px;
      display: none;
      position: absolute;
      width: 240px;
      left: 20px;
      z-index: 9999;
      padding: 10px 0;
    }

    .left-common-header .showLan:hover .header-user-showLan {
      display: block;
    }

    .common-header .header-user-icon .icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    .drop-enter-active {
      animation: drop-in 0.3s;
    }

    .drop-leave-active {
      animation: drop-in 0.3s reverse;
    }

    .common-dialog .btnClass {
      margin-right: 10px;
    }

    .common-dialog .dialog-markAll {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999;
      top: 0;
      left: 0;
    }

    .common-dialog .dialog-frame {
      position: fixed;
      z-index: 1000;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 480px;
      border-radius: 2px;
    }

    .common-dialog .dialog-frame-head {
      box-sizing: border-box;
      height: 60px;
      width: 100%;
      padding: 0 40px;
      line-height: 60px;
    }

    .common-dialog .dialog-frame-head-text {
      font-size: 16px;
    }

    .common-dialog .dialog-frame-head-close {
      float: right;
      cursor: pointer;
      font-size: 20px;
      margin-top: 12px;
    }

    .common-dialog .dialog-frame-head-close .icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    .common-dialog .dialog-frame-body {
      width: 400px;
      margin-left: 40px;
    }

    .common-dialog .closeBtnClass {
      font-size: 14px;
      margin-right: 10px;
    }

    .common-dialog .dialog-frame-bottom {
      margin-bottom: 40px;
      height: 40px;
      position: relative;
    }

    .common-dialog .dialog-frame-bottom .dialog-frame-options {
      position: absolute;
      right: 40px;
    }

    @-moz-keyframes drop-in {
      0% {
        top: 35%;
        opacity: 0.7;
      }

      100% {
        /* margin-top: 10px; */
        opacity: 1;
      }
    }

    @-webkit-keyframes drop-in {
      0% {
        top: 35%;
        opacity: 0.7;
      }

      100% {
        /* margin-top: 10px; */
        opacity: 1;
      }
    }

    @-o-keyframes drop-in {
      0% {
        top: 35%;
        opacity: 0.7;
      }

      100% {
        /* margin-top: 10px; */
        opacity: 1;
      }
    }

    @keyframes drop-in {
      0% {
        top: 35%;
        opacity: 0.7;
      }

      100% {
        /* margin-top: 10px; */
        opacity: 1;
      }
    }

    .colorList .checked .check {
      display: inline-block;
    }

    .colorList .check {
      display: none;
    }

    .colorList .checked .uncheck {
      display: none;
    }

    .colorList .uncheck {
      display: inline-block;
    }

    .common-redio {
      display: inline-block;
      cursor: pointer;
    }

    .common-iconButton {
      width: 36px;
      height: 36px;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
    }

    .common-iconButton .iconButton-icon {
      width: 36px;
      height: 36px;
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      line-height: 36px;
    }

    .common-iconButton .iconButton-bg {
      width: 36px;
      height: 36px;
    }

    .common-iconButton:hover .iconButton-bg {
      width: 36px;
      height: 36px;
      background: #fff;
      opacity: 0.15;
    }

    .common-iconButton:active .iconButton-bg {
      width: 36px;
      height: 36px;
      background: #fff;
      opacity: 0.3;
    }

    .input-find-content {
      width: 200px;
      height: 28px;
      position: relative;
      border-radius: 2px;
      overflow: hidden;
      border-width: 1px;
      border-style: solid;
      box-sizing: border-box;
      transition: all 0.3s;
    }

    .input-find-content .clones {
      position: absolute;
      right: 10px;
      line-height: 28px;
      cursor: pointer;
    }

    .input-find-content .solidBc {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    .input-find-content .content {
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    .input-find-content .solidBc-hover {
      opacity: 0.05;
    }

    .input-find-content .solidBc-active {
      opacity: 0.05;
    }

    .input-find-content .iconbox {
      width: 30px;
      height: 28px;
      display: inline-block;
      text-align: center;
      line-height: 28px;
      vertical-align: middle;
    }

    .input-find-content input {
      width: 168px;
      height: 20px;
      margin-top: -1px;
      line-height: 20px;
      vertical-align: middle;
    }

    .common-iconButton .iconButton-bg {
      width: 36px;
      height: 36px;
    }

    .common-iconButton .icon {
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
    }
  </style>
  <!-- 主流板块 -->
  <ul class="common-header-linkList" id="common-header-linkList">
    <!-- logo -->
    <li class="linkList-logo-li">
      <a class="linkList-logo" href="{{ headerLink.home }}">
        <img src="{{ msg.logoUrl }}" />
      </a>
    </li>
    {% for item in headerNavList %}
    <li
      class="header-navEven v5-5-cl"
      data-link="{{ item.httpUrl }}"
      data-id="{{ item.id }}"
      data-trades="true"
      data-target="false"
    >
      {{ item.title }}
      {% if item.childList.length > 0 %}
      <span class="icon-triangle">
        <svg class="icon icon-8 icon-static" aria-hidden="true">
          <use xlink:href="#icon-v5_1_1"></use>
        </svg>
        <svg class="icon icon-8 icon-scroll" aria-hidden="true">
          <use xlink:href="#icon-v5_1"></use>
        </svg>
        <svg class="icon icon-8 icon-hover" aria-hidden="true">
          <use xlink:href="#icon-v5_1_h"></use>
        </svg>
      </span>
      <ul class="header-navEven-list bg-white">
        {% for i in item.childList%}
        <li
          class="list-item-cl"
          data-link="{{ i.link }}"
          data-id="{{ i.id }}"
          data-trades="true"
          data-target="false"
        >
          <img src="{{i.logo}}" alt="">
          <dl>
            <dt class="list-item-cl">{{i.title}}</dt>
            <dd class="list-item-cl-sub">{{i.subTitle}}</dd>
          </dl>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <!-- 公共版款 -->
  <div class="common-header-optionList">
    <!-- 未登录时 -->
    <div class="header-guide unlogin-set">
      <button
        class="common-button header-login-button common-button-text-kind"
        style="margin-top: 0px;vertical-align: middle;"
      >
        <div class="common-button-slot link-btn">
          {{ locale.header.login }}
        </div>
      </button>
      <button
        class="common-button header-reg-button common-button-hollow-big v5-1-bg"
        style="height: 30px; padding-left: 20px; padding-right: 20px; margin-top: 0px; color: #ffffff";
      >
        <div class="common-button-slot">
          {{ locale.header.register }}
        </div>
        <div class="btn-hover"></div>
      </button>
    </div>
    <div class="header-isLogin login-set" style="display: none">
      <!-- 资产 -->
      <div class="header-isLogin-navEven">
        <div class="header-isLogin-navEven-title v5-5-cl">
          <span class="link-btn">{{ locale.header.assets }}</span>
        </div>
        <ul class="lang-list bg-white">
          {% for item in assetsList %}
          <li class="list-item-cl" data-link="{{ item.link }}">{{ item.title }}</li>
          {% endfor %}
        </ul>
      </div>
      <!-- 订单 -->
      <div class="header-isLogin-navEven">
        <div class="header-isLogin-navEven-title v5-5-cl">
          <span class="link-btn">
            {{ locale.header.order }}
          </span>
        </div>
        <ul class="lang-list bg-white">
          <!--  || activeMark === item.link -->
          {% for item in orderList %}
          <li class="list-item-cl" data-link="{{ item.link }}">{{ item.title }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- app下载 -->
    {% if appDownLoad.app_page_url %}
    <div class="header-user appdownLoad-coin">
      <div class="header-user-apphove">
        <div class="header-user-icon icon-info v5-5-cl link-btn">
          {{locale.h5Add.download}}
        </div>
        <div class="header-user-icon icon-active link-btn v5-1-cl">
          {{locale.h5Add.download}}
        </div>
      </div>
      <div class="header-user-appdown bg-white">
        <div class="code-box">
          <div class="download-options-code">
            <img src="{{ appDownLoad.app_page_url }}" alt="" />
          </div>
          <!-- 扫描二维码下载 -->
          <p class="download-options-codeText list-item-cl">
            {{ locale.appDownLoad.headerCode }}
          </p>
        </div>

        <div class="download-options-buttons">
          <button
            class="common-button common-button-solid v5-1-bg download-button"
          >
            <div class="common-button-slot">
              {{ locale.appDownLoad.more }}
            </div>
            <div class="btn-hover"></div>
          </button>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- 设置 -->
    {% if colorList.length %}
    <div class="header-user" id="color-set">
      <div class="header-user-icon icon-info icon-scroll">
        <svg class="icon icon-18" aria-hidden="true">
          {% if cusSkinId == '1' %}
          <use xlink:href="#icon-v5_9"></use>
          {% else %}
          <use xlink:href="#icon-v5_8"></use>
          {% endif %}
        </svg>
      </div>
      <div class="header-user-icon icon-info icon-static">
        <svg class="icon icon-18" aria-hidden="true">
          {% if cusSkinId == '1' %}
          <use xlink:href="#icon-v5_9_1"></use>
          {% else %}
          <use xlink:href="#icon-v5_8_1"></use>
          {% endif %}
        </svg>
      </div>
      <div class="header-user-icon icon-active">
        <svg class="icon icon-18" aria-hidden="true">
          {% if cusSkinId == '1' %}
          <use xlink:href="#icon-v5_9_h"></use>
          {% else %}
          <use xlink:href="#icon-v5_8_h"></use>
          {% endif %}
        </svg>
      </div>
    </div>
    {% endif %}
    <!-- 消息中心 -->
    <div class="header-user login-set" style="display: none">
      <div class="messageCount" id="messageMore" style="display: none"></div>
      <div class="header-user-icon icon-info goMessage icon-scroll">
        <svg class="icon icon-18" aria-hidden="true">
          <use xlink:href="#icon-v5_5"></use>
        </svg>
      </div>
      <div class="header-user-icon icon-info goMessage icon-static">
        <svg class="icon icon-18" aria-hidden="true">
          <use xlink:href="#icon-v5_5_1"></use>
        </svg>
      </div>
      <div class="header-user-icon icon-active goMessage">
        <svg class="icon icon-18" aria-hidden="true">
          <use xlink:href="#icon-v5_5_h"></use>
        </svg>
      </div>
      <div class="header-user-message bg-white goMessage">
        <ul class="header-user-text"></ul>
        <div class="header-user-out hover-bg v5-1-cl">
          {{ locale.header.more }}
        </div>
      </div>
    </div>
    <!-- 个人中心 -->
    <div class="header-user login-set" style="display: none">
      <div class="header-user-icon icon-info goPersonal icon-scroll">
        <svg class="icon icon-18" aria-hidden="true">
          <use xlink:href="#icon-v5_2"></use>
        </svg>
      </div>
      <div class="header-user-icon icon-info goPersonal icon-static">
        <svg class="icon icon-18" aria-hidden="true">
          <use xlink:href="#icon-v5_2_1"></use>
        </svg>
      </div>
      <div class="header-user-icon icon-active goPersonal">
        <svg class="icon icon-18" aria-hidden="true">
          <use xlink:href="#icon-v5_2_h"></use>
        </svg>
      </div>
      <div class="header-user-market bg-white">
        <ul class="header-user-text">
          <li class="v5-1-cl userText goPersonal"></li>
          <li class="list-item-cl userStatus"></li>
        </ul>
        <div class="header-user-out hover-bg logout">
          <span class="v5-1-cl">
            <!-- 退出 -->
            {{ locale.header.out }}
          </span>
        </div>
      </div>
    </div>
    <div class="header-lang">
      <div class="header-isLogin-navEven-title v5-5-cl">
        <span class="link-btn">
          {% for item in lanList %} {% if currenLan === item.id %}
          {{item.name}}
          {% endif %} {% endfor %}
        </span>
      </div>
      <ul class="lang-list bg-white list-item-cl">
        {% for item in lanList %} {% if currenLan === item.id %}
        <li data-key="/{{ item.id }}" class="v5-1-cl hover-bg">
          {{ item.name }}
        </li>
        {% else %}
        <li data-key="/{{ item.id }}" class="list-item-cl">
          {{ item.name }}
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
  <ul id="colorList" style="display: none">
    {% for item in colorList %}
    <li data-checked="{{ item.checked }}" data-id="{{ item.skinId }}">
      <section class="common-redio">
        <svg aria-hidden="true" class="icon icon-16 uncheck">
          <use xlink:href="#icon-c_14"></use>
        </svg>
        <svg aria-hidden="true" class="icon icon-16 check">
          <use xlink:href="#icon-c_14_1"></use>
        </svg>
      </section>
      <span class="list-item-cl">{{ item.mainClor }}</span>
    </li>
    {% endfor %}
  </ul>
  <script>
    ;(function () {
      const { getScript } = window.BlockChainUtils
      const extendPath = '{{sourceMap.headerExtendV5}}'
      if (extendPath && !window.HeaderExtend) {
        getScript(`${window.staticDomain}/home/static/${extendPath}`).then(() => {
          class Header extends window.HeaderExtend {
            constructor() {
              super()
              this.dialogPath = '{{sourceMap.dialog}}'
              this.etfOpen = Number('{{switch.etfOpen}}')
              this.locale = {
                titleText: '{{locale.header.set}}',
                closeTextProps: '{{locale.components.dialog.closeText}}',
                confirmTextProps: '{{locale.components.dialog.confirmText}}',
                color: '{{locale.header.color}}',
                userStatus: '{{locale.header.userStatus}}',
              }
              this.userState = {
                0: '{{locale.header.userStatus1}}',
                1: '{{locale.header.userStatus2}}',
                2: '{{locale.header.userStatus3}}',
              }
              this.init()
            }
          }

          new Header()
        })
      }
    })()
  </script>
</header>
