{% if switch.contract_change_float_switch === '1' %}
<div class="common-switchSwap" id="common-switchSwap">

<div class="common-switchSwap-left">
    <img class="common-switchSwap-left-img"
        src="https://chainup-oss.oss-cn-beijing.aliyuncs.com/switch_swap_new.png"/>
    <span class="common-switchSwap-left-text">合约公告：一键切换到合约系统，体验更专业的合约交易</span>
</div>
<div class="common-switchSwap-right">
    <div class="common-switchSwap-right-goDet">查看详情</div>
    <div class="common-switchSwap-right-goNew">切换新版</div>
    <img class="common-switchSwap-right-img"
        src="https://chainup-oss.oss-cn-beijing.aliyuncs.com/switch_swap_close.png"/>
    
</div>
<script>
(function () {
const { getCookie, setCookie } = window.BlockChainUtils;
class BlockChainSwitchSwap {
    constructor() {
        this.dialogPath = "{{sourceMap.dialog}}";
        this.tipPath = "{{sourceMap.tip}}"
        this.init()
    }
    init() {
        // contract_version_settings 新旧合约设置 0-旧版合约 1-新版合约
        // contract_change_float_switch新旧合约切换浮层展示开关 0-无浮层展示 1-有浮层展示
        let isNewSwap = false
        if(getCookie('isNewSwap')) {
            if(getCookie('isNewSwap') === '1') {
                isNewSwap = true
            } else {
                isNewSwap = false
            }
        } else {
            if(window.publicInfo
                && window.publicInfo.switch.contract_version_settings === '1') {
                isNewSwap = true
            } else {
                isNewSwap = false
            }
        }
        // setCookie('isNewSwap', isNewSwap ? '1' : '0')

        const $closeImg = document.querySelectorAll('.common-switchSwap-right-img')[0];
        const $commonSwitchSwap = document.querySelectorAll('.common-switchSwap')[0];
        const $goNew = document.querySelectorAll('.common-switchSwap-right-goNew')[0];
        if(isNewSwap) {
            $goNew.innerHTML = '切换旧版'
        } else {
            $goNew.innerHTML = '切换新版'
        }
        $closeImg.addEventListener('click', () => {
          $commonSwitchSwap.style.display = 'none'
        });
        

        $goNew.addEventListener('click', () => {
          setCookie('isNewSwap',getCookie('isNewSwap') === '1' ? '0' : '1')
          /*if(getCookie('isNewSwap') === '1') {
                $goNew.innerHTML = '切换旧版'
            } else {
                $goNew.innerHTML = '切换新版'
            }*/
          BlockChainTip.pushTip('success', '切换成功')
          window.location.reload()
        });
        if (!window.BlockChainDialog && this.dialogPath) {
            getScript(`/home/static/${this.dialogPath}`).then(() => {
            this.initColorDiaolog();
            });
        } else {
            this.initColorDiaolog();
        }
        
      
    }
    initColorDiaolog() {
      this.colorDialog = new BlockChainDialog({
        locale: {
            titleText: '新合约系统即将上线通知',
            closeTextProps: '{{locale.components.dialog.closeText}}',
            confirmTextProps: '我知道了',
            color: '{{locale.header.color}}',
            userStatus: '{{locale.header.userStatus}}',
        },
        content: `
            <div class="common-switchSwapDlg-frame-setBox">
                <div>尊敬的用户，您好：</div>
                <div style="margin-top: 20px;">为了更好的服务用户，提供更专业的合约服务，新版永续合约Web版本、APP版本将于近期陆续上线。</div>
                <div style="margin-top: 20px;">1、在正式切换之前，我们提供了双版本的合约系统供您使用，同时新合约刚上线期间，可能存在出多不完善之处，如发现bug或者任何建议请通过链接提交。</div>
                <div style="margin-top: 20px;">2、届时，旧合约系统将停止访问，旧合约的用户请务必在相应时间前及时平仓并将资产划转至币币账户；如未能及时平仓并转出，平台届时将按市场价自动平仓结算，并将资产转移至币币账户；未成交的委托单将被系统自动撤销。</div>
                <div style="margin-top: 20px;">3、您可以通过导航顶部浮层自由切换新旧合约，点击【切换新/旧版】后，您访问合约交易、合约资产、合约订单、合约相关运营功能时均同步切换；请注意，新旧两版合约数据不互通；影响的功能包括但不限于：合约经纪人、合约体验金、合约跟单、合约大赛。</div>
                <div style="margin-top: 20px;">4、您的合约资产需先划转到币币账户才能转到合约账户。</div>
            </div>
        `,
        confirm() {
            this.hide()
        },
      });
      const $goDet = document.querySelectorAll('.common-switchSwap-right-goDet')[0];
      $goDet.addEventListener('click', () => {
          this.colorDialog.show()
      });
      
    }
}
new BlockChainSwitchSwap()
})()
</script>
<style>
.common-switchSwap {
    height: 50px;
    background: #2480F5;
    width: 100%;
    padding: 0 20px;
}
.common-switchSwap-right {
    float: right;
}
.common-switchSwap-left {
    float: left;
    line-height: 50px;
    height: 50px;
}
.common-switchSwap-right-goDet {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 0 18px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 10px;
}
.common-switchSwap-right-img:hover,
.common-switchSwap-right-goDet:hover,
.common-switchSwap-right-goNew:hover {
    opacity: 0.8;
}
.common-switchSwap-right-img:active,
.common-switchSwap-right-goDet:active,
.common-switchSwap-right-goNew:active {
    opacity: 1;
}
.common-switchSwap-right-goNew {
    float: left;
    background: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #2480F5;
    text-align: center;
    border-radius: 2px;
    padding: 0 18px;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    vertical-align: middle;
    margin-top: 10px;
}
.common-switchSwap-right-img {
    width: 18px;
    height: 18px;
    float: left;
    cursor: pointer;
    margin-left: 50px;
    vertical-align: middle;
    margin-top: 14px;
}
.common-switchSwap-left-img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    color: #fff
}
.common-switchSwap-left-text {
    margin-left: 10px;
    vertical-align: middle;
}

.common-switchSwapDlg-frame-setBox {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
}

</style>

</div>
{% endif %}