<section class="internationalHome bitsg-home-container">
    {% import "./swiper/bitsg.njk" as swiper %}
    {{ swiper.boxStyle(
    slideList=helper.swiper.getInterMap(cmsAdvertList),
    extendPath =sourceMap.interSwiperExtend,
    title=internationalTitle.title,
    subTitle=internationalTitle.subTitle,
    goRegister=locale.login.goRegister
    )}}
</section>
<script>

</script>
