<html>
<head>
    <link rel="stylesheet" href="/static/index/common.css"/>
    <script src="https://static.hiotc.pro/static/js/d16ebe284543427619996c31c7008ee6-iconfont.js"></script>
</head>
<body>
{% include "modules/header.njk" %}
</body>
</html>