<section class="v501-Home v501-home-container c-2-bg">
  <style>
    .v501-Home {
      position: relative;
      width: 100%;
    }
  </style>
  {% include "./swiper/v5_1.njk" %}
  <script>
    (() => {})()
  </script>
</section>
