<section class="v502-Home v502-home-container v5-8-bg">
  <style>
    .v502-Home {
      position: relative;
      width: 100%;
    }
    .v502-Home .v502-market {
      width: 1200px;
      margin: 60px auto 0;
    }
    .v502-Home .v502-notice-info {
      margin-top: 40px;
    }
    .v502-Home .v5-custom-info {
      margin-top: 160px;
    }
  </style>
  {% import "./swiper/v5_2.njk" as swiper %}
  {{ swiper.boxStyle(height='540px', width='100%', bgColor='c-3-bg', slideList=cmsAdvertList, extendPath =sourceMap.swiperExtend, activeClass="v5-1-bg") }}
  {% if headerSymbol.length %}
      {% include "./recommend/v5_2.njk" %}
  {% endif %}
  <div class="v502-notice-info">
    {% if noticeList.length > 0 %}
    {% import "./noticeInfo/v5.njk" as notice %}
    {{ notice.scroll(autoplay = 1, noticeList = noticeList, len = noticeList.length) }}
    {% endif %}
  </div>
  <div class="v502-market">
    {% include "./market/v5_2.njk" %}
  </div>
  {% include "./custom/v5_2.njk"%}
  <script>
    (() => {})()
  </script>
</section>
